/.idea
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/CCB/v15/Browse.VC.db
/.vs/CCB/v15/Browse.VC.opendb
.vs/CCB/v15/.suo
.vs/CCB/v15/ipch/AutoPCH/db8ae34deaeda3c4/VERSION_EDIT.ipch
.vs/VSWorkspaceState.json
.vs/slnx.sqlite-journal
